:root {
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}

body {
  padding: 1px;
  font-family: "Source Sans Pro", sans-serif;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

#fheight{
  height:100vh;
  width: 100%;
}
#typewritersection{  
  overflow: hidden;
  height: 95vh;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

#typewritersection > h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  text-align: center;
  margin-top: 25%;
}
#typewritersection > h1::before,
#typewritersection > h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#typewritersection > h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
  steps(var(--typewriterCharacters)) 1s forwards;
}

#typewritersection > h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#navbar {
  color: hsl(0 0% 0% / 0.7);
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}
#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
} 


canvas{
  position: relative;
  height:100vh;
  width:100%;
  top:0;
  left:0;
}
